<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmployeeMonthlyPaySlip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <EmployeeMonthlyPaySlip.Properties.Settings>
            <setting name="UsagePattern" serializeAs="String">
                <value>
                  This application outputs a monthly pay slip for a given employee provided their annual salary.

Usage:
    EmployeeMonthyPayslip.exe  GenerateMonthlyPayslip "EmployeeName" AnnualSalary

For example - EmployeeMonthyPayslip.exe GenerateMonthlyPayslip "TestUser" 60000

Where 
    EmployeeName      : Please provide Employee Name
    AnnualSalary      : Please provide Employee's Annual Salary

Example Output: 

Monthly Payslip for: "TestUser"
Gross Monthly Income: $5000
Monthly Income Tax: $500
Net Monthly Income: $4500
                </value>
            </setting>
        </EmployeeMonthlyPaySlip.Properties.Settings>
    </applicationSettings>
</configuration>